<%- include('head') %>

<div class="home-link">Back to <a href="/">home</a></div>

<input type="hidden" id="eventSourceUrl" value="<%= eventSourceUrl %>">

<noscript>
  Progress updates requires javascript. File will be here when finished:
  <a href="<%= destRoute %>"><%= destRoute %></a>
</noscript>

<div class="file-link"><a id="download" href="" download></a></div>

<div id="output"></div>

<script src="/assets/progress.js"></script>
