<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/styles.css">

<title>Thief</title>

<input type="hidden" id="eventSourceUrl" value="<%= eventSourceUrl %>">

<noscript>
  <p>
  Progress updates requires javascript. File will be here when finished:
  <a href="<%= destRoute %>"><%= destRoute %></a>
  </p>
</noscript>

<div>
  <p>Back to <a href="/">home</a></p>
</div>

<div>
  <a id="download" href="" download></a>
</div>

<div>
  <p id="output"></p>
</div>

<script src="/assets/progress.js"></script>
