<%- include('head') %>

<div class="home-link">Back to <a href="/">home</a></div>

<noscript>
  Progress updates requires javascript. File will be here when finished:
  <a href="<%= destRoute %>"><%= destRoute %></a>
</noscript>

<input type="hidden" id="download-id" value="<%= downloadId %>">

<div id="download-control"></div>

<div id="output"></div>

<script src="/assets/progress.js"></script>
