<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/styles.css">

<title>Thief</title>

<div class="home-link">Back to <a href="/">home</a></div>

<input type="hidden" id="eventSourceUrl" value="<%= eventSourceUrl %>">

<noscript>
  Progress updates requires javascript. File will be here when finished:
  <a href="<%= destRoute %>"><%= destRoute %></a>
</noscript>

<div class="file-link"><a id="download" href="" download></a></div>

<div id="output"></div>

<script src="/assets/progress.js"></script>
