<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!--
      mobile friendly
      https://developer.mozilla.org/en-US/docs/Mozilla/Mobile/Viewport_meta_tag
      https://developers.google.com/web/fundamentals/design-and-ux/responsive/
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Thief</title>

    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <input type="hidden" id="eventSourceUrl" value="<%= eventSourceUrl %>">

    <div>
      <p>Back to <a href="/">home</a></p>
    </div>

    <div>
      <p id="output"></p>
    </div>

    <div>
      <a id="download" download></a>
    </div>

    <noscript>
      <p>Progress updates requires javascript. File will be here when finished:</p>
      <p><a href="/files">/files</a></p>
    </noscript>

    <script src="/assets/progress.js"></script>
  </body>
</html>
