<%- include('head') %>

<div class="center-container">
  <h1>Download videos/audio from Youtube</h1>
  <form action="/search">
    <div>
      <input type="search" id="q" name="q" placeholder="Search" class="wide" autofocus required>
    </div>
    <div>
      <input type="checkbox" id="videos" name="videos" checked>
      <label for="videos">Videos</label>
    </div>
    <div>
      <input type="checkbox" id="playlists" name="playlists" checked>
      <label for="playlists">Playlists</label>
    </div>
    <div>
      <button type="submit">Search</button>
      Or <a href="/ready">download by URL</a>
    </div>
  </form>

  <div class="nav-links">
    <a href="<%= destRoute %>"><%= destRoute %></a>
    <a href="/maintenance">/maintenance</a>
  </div>
</div>
