<%- include('head') %>

<div class="home-link">Back to <a href="/">home</a></div>

<div class="center-container maintenance">
  <h1>Maintenance</h1>

  <form action="/update">
    <button type="submit">Update youtube-dl</button>
  </form>

  <form action="/gc">
    <button type="submit">Clear downloads</button>
  </form>

  <form action="/options">
    <label for="options">Additional youtube-dl options</label><br>
    <input type="text" name="options" placeholder="e.g. --verbose"
           value="<%= conf.youtube_dl_options.join(' ') %>">
    <button type="submit">Set options</button>
  </form>
</div>
