<%- include('head') %>

<div class="home-link">Back to <a href="/">home</a></div>

<div class="center-container maintenance">
  <h1>Maintenance</h1>

  <form action="/update">
    <button type="submit">Update youtube-dl</button>
  </form>

  <form action="/gc">
    <button type="submit">Clear downloads</button>
  </form>
</div>
