<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/styles.css">

<title>Thief</title>

<div class="home-link">Back to <a href="/">home</a></div>

<div class="ready-container">
  <form action="/download" method="post">
    <h1>Download <%= (details && details.type) || 'by URL' %></h1>
    <div>
      <label for="url">Youtube URL</label>
      <input type="url" id="url" name="url" value="<%= url %>" autofocus required>
    </div>
    <div>
      <label for="format">Format</label>
      <input type="text" id="format" name="format" value="best">
    </div>
    <div>
      <input type="checkbox" id="addMeta" name="addMeta" checked>
      <label for="addMeta">Include metadata (tags)</label>
    </div>
    <div>
      <input type="checkbox" id="audioOnly" name="audioOnly" checked>
      <label for="audioOnly">Audio only</label>
    </div>
    <div>
      <input type="checkbox" id="ignoreErrors" name="ignoreErrors">
      <label for="ignoreErrors">Ignore errors (e.g. skip unavailable videos)</label>
    </div>
    <div>
      <button type="submit">Download</button>
    </div>
  </form>

  <% if (details) { %>
  <div>
    <h2><%= details.type.charAt(0).toUpperCase() + details.type.slice(1) %> details</h2>
    <%- include('details', { details }) %>
  </div>
  <% } else if (url) { %>
  <div id="async-details"></div>
  <script src="/assets/ready.js"></script>
  <% } %>
</div>
