<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/styles.css">

<title>Thief</title>

<div class="home-link">Back to <a href="/">home</a></div>

<%- include('list', { list }) %>

<script src="/assets/search.js"></script>
