h1 {
  font-size: large;
}

form.margined {
  max-width: 500px;
  margin-bottom: 20px;
}

form.margined > div {
  margin-top: 10px;
}

input[type=text], input[type=url], input[type=search] {
  width: 100%;
  padding: 4px;

  /* prevent field from running off the end of the page (https://stackoverflow.com/a/46991460) */
  box-sizing: border-box;
}

button {
  padding: 4px;
}

.error {
  color: red;
}

.search-result.playlist {
  border-left: 8px dashed;
  padding-left: 8px;
}
.search-result > .preview {
  display: flex;
}
.search-result > .preview > .info {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.more-info {
  padding: 8px;
}

.hidden {
  display: none;
}
